<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910711220170-qp411ec1pkp6dsm1lqbkh1p7re6tv8re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910711220170-qp411ec1pkp6dsm1lqbkh1p7re6tv8re</string>
	<key>API_KEY</key>
	<string>AIzaSyBu3ckdrGYQ3T1MLpRf6_nt0UZjutCuAlo</string>
	<key>GCM_SENDER_ID</key>
	<string>910711220170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taichiApp.PostLike..develop</string>
	<key>PROJECT_ID</key>
	<string>postlike-66c0c</string>
	<key>STORAGE_BUCKET</key>
	<string>postlike-66c0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:910711220170:ios:9ebd7256efd94760251133</string>
</dict>
</plist>
