<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473335961605-u91ia7v78353fv1h0kt6pco3nj4crm89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473335961605-u91ia7v78353fv1h0kt6pco3nj4crm89</string>
	<key>API_KEY</key>
	<string>AIzaSyCnd1_sN8kZmaj_uMsDNCmXj9X5J1guaiw</string>
	<key>GCM_SENDER_ID</key>
	<string>473335961605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.postlike.PostLike</string>
	<key>PROJECT_ID</key>
	<string>postlike-release</string>
	<key>STORAGE_BUCKET</key>
	<string>postlike-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473335961605:ios:8a704e3e35c9944931a46c</string>
</dict>
</plist>